/* font-family: "Suez One", serif; */
/* font-family: "Coiny", system-ui; */
/* font-family: "Caudex", serif; */
/* font-family: "Lora", serif; */
/* font-family: "Work Sans", sans-serif; */
/* font-family: "Inknut Antiqua", serif; */
/* font-family: "Cantarell", sans-serif; */
/* font-family: "Cormorant", serif; */
/* font-family: "Kameron", serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto Mono", monospace; */
/* font-family: "Telex", sans-serif; */
/* font-family: "Josefin Sans", sans-serif; */
/* font-family: "Nunito Sans", sans-serif; */
/* font-family: "Martel", serif; */
/* font-family: "Inknut Antiqua", serif; */
/* font-family: "Dosis", sans-serif; */
/* font-family: "Domine", serif; */
.hero-section {
}

.hero-left {
}

.hero-left h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: "Suez One", serif;
  line-height: 3.5rem;
  font-weight: 500;
  color: rgb(37, 36, 36);
}

.hero-left p {
  font-size: 21px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: justify;
  font-family: "Dosis", sans-serif;
  color: rgb(68, 68, 68);
}
 